body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #cfd8dc;    
}

header {
    height: 3em;
    padding: 1em;
    background-color: orangered;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown {
    padding: 1em;
    display: flex;
    justify-content: center;
}
select {
    padding:1em;
}

select option {
    padding:1em;
}


.search {
    display: flex;
    flex-wrap: wrap;
}

.search .search-result {
    background-color: #fafafa;
    text-align: center;
    border:1px solid #bdbdbd;
    border-radius: 8px;
    width: 60%;
    margin: 1em auto;
}