body {
    background: url('https://i.imgur.com/dwZreoe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    
    background-color: #cfd8dc;    
}

header {
    font-family: 'Krona One', sans-serif;
    height: 3em;
    padding: 1em;
    background-color: orangered;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    font-size: x-large;
    align-items: center;
}


li{
  display: table;
  *zoom: 1;
  padding: 50px;
  margin:0px auto 0px auto;
  
}
li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    color: black;
    text-decoration: none;    
}
